# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Terraform crash logs
crash.log
crash.*.log

# AWS credentials / secrets
.env
*.pem
credentials
.aws/

# Logs
*.log

# Terraform working directory
.terraform/

# Terraform lock file can be committed
# terraform.lock.hcl 
terraform/current-state.json
